@import "tailwindcss";

@media print {
  body {
    visibility: visible !important;
    background: white !important;
    color: black !important;
  }
  .print-container, .print-container * {
    visibility: visible !important;
  }
  @page {
    size: auto;
    margin: 15mm;
  }
}
