@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #0B263D;
  --color-secondary: #77B4E6;
  --color-success: #22C55E;
  --color-error: #dc3545;
  --color-warning: #ffc107;
  --color-info: #A8CFEF;
  --color-muted: #6c757d;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-background: #0B263D;
  --color-foreground: #77B4E6;
}